<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
 <script src = "https://plus.google.com/js/client:platform.js" async defer></script>
    <div class="jumbotron text-center">
        <h1>Welcome to <em><font color="red">multiPost</font></em></h1>
        
        <p>Presented by: <strong>Brandon Baksh</strong></p>
     
        <p><img id="authorize-button1"  ng-controller="homeController"  ng-click="login()" src="./images/sign-in-with-google.png"/></p>        
        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    </div>